<div>
    <mat-toolbar  class="bgColor">
      <mat-toolbar-row fxLayout="row">
        <span class="title-center">Change Password</span>
      </mat-toolbar-row>
    </mat-toolbar>


    <mat-dialog-content class="mat-typography">
        <form [formGroup]="changePasswordForm">
          <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
              <mat-label>Old Password:</mat-label>
              <input matInput formControlName="oldPassword" required type="password" />
              <!-- <mat-error >{{test5}}</mat-error> -->
              <!-- <mat-error
            class="errormessage"
            *ngIf="controlHasError('required', 'oldPassword')"
          ></mat-error> -->
            </mat-form-field>


         
            <mat-form-field appearance="fill" fxFlex>
              <mat-label>New Password:</mat-label>
              <input matInput formControlName="newPassword" required type="password" />
            </mat-form-field>
          
            <mat-form-field appearance="fill" fxFlex>
              <mat-label>Confirm Password:</mat-label>
              <input matInput formControlName="confirmPassword" required type="password" />
              <mat-hint *ngIf="validateSubmit()">New Password and Confirm Password Didn't Match</mat-hint>
            </mat-form-field>
          </div>
        </form>
      </mat-dialog-content>



      <mat-dialog-actions align="center">
        <!-- <button mat-raised-button color="primary" type="submit" ></button> -->
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="handleChangePassSubmit()"
          [disabled]="changePasswordForm.invalid || validateSubmit()"
        >
          Update Password
        </button>
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
      </mat-dialog-actions>
  </div>