<body style="height: 800px">
  <mat-card>
    <b><span>Dashboard</span></b>
  </mat-card>
  <br />
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Total Category</h2>
          <h1 class="title">{{ data?.category }}</h1>
          <p>
            <!-- routerLink="['category']" -->
            <button
              class="button bg-secondary"
              [routerLink]="['category']"
              [ngClass]="{ disableDiv: user.role === 'user' }"
            >
              View Category
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Total Product</h2>
          <h1 class="title">{{ data?.product }}</h1>
          <p>
            <button
              class="button bg-secondary"
              [routerLink]="['product']"
              [ngClass]="{ disableDiv: user.role === 'user' }"
            >
              View Products
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Total Bill</h2>
          <h1 class="title">{{ data?.bill }}</h1>
          <p>
            <button
              class="button bg-secondary"
              [routerLink]="['bill']"
              [ngClass]="{ disableDiv: user.role === 'user' }"
               >
              View Bills
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
