/* p{
    padding: 15px;
}
.errormessage{
    color: red;
}
.disabledDiv{

    opacity: 0.3;
    pointer-events: none;
}
 */


 mat-toolbar{
    //  margin: -12px;
    // margin: 0px; 
    width: auto;
    margin-bottom: 10px;
}
.title-center{
    flex: 1 1 auto;
    text-align: center;
}

mat-form-field{
    padding: 5px;
}