<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky bg-dark" >
  <nav class="navbar-fixed-top" color="warn">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>
    <ul>
      <li><a (click) = 'loginAction()'>LogIn</a></li>
      <li><a (click) = 'SignupAction()'>Signup</a></li>
      <li><a (click) = 'forgotPasswordAction()'>Forgot Password</a></li>
    </ul>
  </nav>
</div>
<div class="footer bg-dark" id="signup">
  <h2>All right <span>&copy;</span> CMS (Cafe Management System)</h2>
</div>

